<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멘탈 헬스 진단 서비스</title>
    <link rel="stylesheet" href="/static/css/mental_health.css">
</head>
<body>
    <div id="app">
        <header id="header">
            <img src="/static/images/logo.png" alt="Logo" id="logo">
            <img src="/static/images/exit.png" alt="Exit" id="exit">
        </header>        
        <main id="chat-area"></main>
        <div id="user-input">
            <textarea id="message-i	nput" placeholder = rows="1"></textarea>
            <button id="send-btn">submit</button>
            <a id="finish" href="/html/result.html" alt="finish">대화 끝내고 결과 보기</a>
        </div>
    </div>
    <script type="module" src="/static/js/mental_health.js"></script>
</body>
</html>
