@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.girl{
    width: 600px;
    height: 637px;
    background-image: url("png/소녀.png");
    background-repeat: no-repeat;
    background-size: contain;
    position :absolute;
    bottom : 0px;
    right: 0px;

}

.cat{
    width: 300px;
    height: 200px;
    background-image: url("png/고양이.png");
    background-repeat: no-repeat;
    background-size: contain;
    position :absolute;
    bottom : 0px;
    left: 0px;
}

.stick{
    width: 950px;
    height: 450px;
    background-image: url("png/막대.png");
    background-repeat: no-repeat;
    background-size: contain;
    position :absolute;
    top : 0px;
    left: 0px;
    z-index: -2;
}

.logo{
    width: 300px;
    height: 300px;
    background-image: url("png/메인로고.png");
    background-repeat: no-repeat;
    background-size: contain;
    position :absolute;
    top : 180px;
    left: 190px;
}

.center{
    width: 350px;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 545px;
    border-radius: 100%;
    background-color: rgb(255, 194, 212);
    filter: blur(40px);
    overflow: hidden;
}

.introduce{
    text-decoration: none;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 330px;
    left: 570px;
    display: flex;
    color: #FF7C9D;
    font-size: 20px;
    justify-content: space-around;
    text-align: center;
    font-family: "Jua", sans-serif;
      
}

.two{
    width: 100%;
    height: 400px;
    background-color: #FEE9E7;
    position: absolute;
    bottom: -400px;
    left: 0px;
}

.two > p {
    font-size: 45px;
    font-family: "Jua", sans-serif;
    position: absolute;
    top: 15px;
    left: 100px;
}

.two > h3 {
    text-align: center;
    font-family: "Jua", sans-serif;
    position: absolute;
    top: 150px;
    left: 350px;
}

.first{
    width: 330px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 280px;
    right: 20px;
    font-family: "Jua", sans-serif;
}

.first > img{
    position: absolute;
    top: 10px;
    left: 10px;
}

.first > h5{
    position: absolute;
    top: -10px;
    left: 50px;
}

.first > h6{
    position: absolute;
    top: 5px;
    left: 50px;
    color: gray;
}

.second{
    width: 330px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 280px;
    right: 370px;
    font-family: "Jua", sans-serif;
}

.second > img{
    position: absolute;
    top: 10px;
    left: 10px;
}

.second > h5{
    position: absolute;
    top: -10px;
    left: 50px;
}

.second > h6{
    position: absolute;
    top: 5px;
    left: 50px;
    color: gray;
}

.third{
    width: 330px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 280px;
    right: 720px;
    font-family: "Jua", sans-serif;
}

.third > img{
    position: absolute;
    top: 10px;
    left: 10px;
}

.third > h5{
    position: absolute;
    top: -10px;
    left: 50px;
}

.third > h6{
    position: absolute;
    top: 5px;
    left: 50px;
    color: gray;
}

.four{
    width: 330px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 280px;
    right: 1070px;
    font-family: "Jua", sans-serif;
}

.four > img{
    position: absolute;
    top: 10px;
    left: 10px;
}

.four > h5{
    position: absolute;
    top: -10px;
    left: 50px;
}

.four > h6{
    position: absolute;
    top: 5px;
    left: 50px;
    color: gray;
}

.three{
    width: 100%;
    height: 600px;
    background-color: rgb(192, 255, 169, 0.5);
    position: absolute;
    bottom: -1000px;
    left: 0px;
}

.three > h3{
    width: 100%;
    text-align: center;
    font-family: "Jua", sans-serif;
    position: absolute;
    top: 30px;
    font-size: 25px;
    color: #28A87B;
}

#mental_service {
    width: 100%;
    font-size: 45px;
    text-align: center;
    font-family: "Jua", sans-serif;
    position: absolute;
    top: 40px;
}

.select{
    width: 200px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 230px;
    left: 150px;
}

#category{
    width: 100%;
    position: absolute;
    top: -6px;
    left: 45px;
    font-family: "Jua", sans-serif;
    color: #A8DE7E;
    font-size: 20px;
    display: flex;
    
}

#talk{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.friend{
    width: 150px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 300px;
    left: 80px;
    border-color: #C3E6A9;
    border-style:solid;
    border-width:5px;
    border-radius: 10px;
}

.friend > p{
    width: 100%;
    position: absolute;
    top: -6px;
    left: 55px;
    font-family: "Jua", sans-serif;
    color: #697077;
    font-size: 20px;
    display: flex;
}
.friend > img{
    position: absolute;
    top: 8px;
    left: 10px;
}

.study{
    width: 150px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 300px;
    left: 250px;
    border-color: #C3E6A9;
    border-style:solid;
    border-width:5px;
    border-radius: 10px;
}

.study > p{
    width: 100%;
    position: absolute;
    top: -6px;
    left: 55px;
    font-family: "Jua", sans-serif;
    color: #697077;
    font-size: 20px;
    display: flex;
}
.study > img{
    position: absolute;
    top: 8px;
    left: 10px;
}

#crescendo{
    position: absolute;
    top: 300px;
    left: 50px;
    font-family: "Jua", sans-serif;
}

#decrescendo{
    position: absolute;
    top: 300px;
    left: 430px;
    font-family: "Jua", sans-serif;
}

.ball1{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 380px;
    left: 200px;
    background-color: #A9A9A9;
}

.ball2{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 380px;
    left: 230px;
    background-color: #DFDEDE;
}

.ball3{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 380px;
    left: 260px;
    background-color: #DFDEDE;
}

.kid{
    width: 150px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 230px;
    left: 630px;
}

.kid > p{
    width: 100%;
    position: absolute;
    top: -6px;
    left: 50px;
    font-family: "Jua", sans-serif;
    color: #C0F7FF;
    font-size: 20px;
    display: flex;
}

#o{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#t{
    width: 100px;
    height: 130px;
    position: absolute;
    top: -60px;
    left: 150px;
}


.chat{
    width: 400px;
    height: 250px;
    background-color: #F7FFF5;
    position: absolute;
    top: 300px;
    left: 500px;
    border-radius: 10px;
}

#hi{
    width: 300px;
    height: 25px;
    background-color: #F7FFF5;
    position: absolute;
    top: 10px;
    left: 10px;
    border-color: #D997FF;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #D997FF;
    display: flex;
    justify-content: space-around;
}

#hii{
    width: 100px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 10px;
    border-color: #51DDF2;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #51DDF2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#all{
    width: 300px;
    height: 25px;
    background-color: #F7FFF5;
    position: absolute;
    top: 90px;
    left: 10px;
    border-color: #D997FF;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #D997FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#what{
    width: 300px;
    height: 25px;
    background-color: #F7FFF5;
    position: absolute;
    top: 125px;
    left: 10px;
    border-color: #D997FF;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #D997FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#A{
    width: 350px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 170px;
    right: 10px;
    border-color: #51DDF2;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #51DDF2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adult{
    width: 350px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 230px;
    right: 110px;
}

.adult > p{
    width: 100%;
    position: absolute;
    top: -6px;
    left: 50px;
    font-family: "Jua", sans-serif;
    color: #FFAB6D;
    font-size: 20px;
    display: flex;
}

#th{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#f{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: 310px;
    z-index: 1;
}


.chat2{
    width: 450px;
    height: 250px;
    background-color: #F7FFF5;
    position: absolute;
    top: 300px;
    right: 30px;
    border-radius: 10px;
}

#hiii{
    width: 300px;
    height: 25px;
    background-color: #F7FFF5;
    position: absolute;
    top: 10px;
    left: 10px;
    border-color: #B0A7C0;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #B0A7C0;
    display: flex;
    justify-content: space-around;
}

#hiiii{
    width: 380px;
    height: 25px;
    background-color: #F7FFF5;
    position: absolute;
    top: 50px;
    left: 10px;
    border-color: #B0A7C0;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #B0A7C0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#old{
    width: 300px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 90px;
    right: 10px;
    border-color: #E1B797;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #E1B797;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#life{
    width: 200px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 125px;
    right: 10px;
    border-color: #E1B797;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #E1B797;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lifestyle{
    width: 430px;
    height: 25px;
    background-color: #F7FFF5;
    position: absolute;
    top: 175px;
    left: 10px;
    border-color: #B0A7C0;
    border-style:solid;
    border-width:1px;
    border-radius: 100px;
    font-family: "Jua", sans-serif;
    color: #B0A7C0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}