@media only screen and (max-width:800px){
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

    body{
        background-color: #ffe0ea;
    }
    
    .circle{
        width: 300px;
        height: 300px;
        position: absolute;
        bottom: 0;
        left: 0px;
        border-radius: 50%;
        background-color: rgb(252, 212, 159, 0.5);
        box-shadow: 0 0 1000px rgb(252, 212, 159);
        filter: blur(100px);
        overflow: hidden;
    }
    
    .circle2{
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        right: 0px;
        border-radius: 50%;
        background-color: rgba(252, 190, 240, 0.9);
        box-shadow: 0 0 1000px rgba(252, 190, 240, 0.9);
        filter: blur(100px);
        overflow: hidden;
    }
    
    header{
        display: flex;
    }

    .box{
        width: 100%;
        height: 250px;
        background-color: rgb(255, 255, 255, 0.5);
        object-fit: fill;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    
    .haram > a{
        text-decoration: none;
        color: #DA9E86;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 180px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 100px;
        position: absolute;
        right: 130px;
        top: 30px;
        border: 1px solid #DA9E86;
        font-family: "Jua", sans-serif;
    
    }
    
    .haram > p{
        width: 30px;
        height: 50px;
        text-align: center;
        font-size: 5px;
        margin-top: 47px;
        
    }
    
    .heart > a{
        text-decoration: none;
        color: #DA9E86;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 180px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 100px;
        position: absolute;
        right: 130px;
        top: 100px;
        border: 1px solid #DA9E86;
        font-family: "Jua", sans-serif;
        text-align: center;
    }
    
    .heart > p{
        width: 30px;
        height: 50px;
        text-align: center;
        font-size: 5px;
        margin-top: 15px;
        
    }
    
    .login{
        text-decoration: none;
        color: #DA9E86;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        position: absolute;
        right: 145px;
        top: 170px;
        border: 1px solid #DA9E86;
        font-family: "Jua", sans-serif;
    }
    
    .mypage{
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 100px;
        position: absolute;
        right: 30px;
        top: 15px;
        border: 1px solid #DA9E86;
    }

    .girl{
        width: 300px;
        height: 318px;
        background-image: url("png/소녀.png");
        background-repeat: no-repeat;
        background-size: contain;
        position :absolute;
        bottom : 0px;
        right: 0px;
    
    }
    
    .cat{
        width: 200px;
        height: 100px;
        background-image: url("png/고양이.png");
        background-repeat: no-repeat;
        background-size: contain;
        position :absolute;
        bottom : 0px;
        left: 0px;
    }
    
    .stick{
        width: 250px;
        height: 500px;
        background-image: url("png/막대.png");
        background-repeat: no-repeat;
        background-size: contain;
        position :absolute;
        top : 0px;
        left: 0px;
        z-index: -2;
    }
    
    .logo{
        width: 210px;
        height: 300px;
        background-image: url("png/메인로고.png");
        background-repeat: no-repeat;
        background-size: contain;
        position :absolute;
        top : 300px;
        right: 150px;
    }
    
    .introduce{
        display: none;
          
    }

    .center{
        display: none;
    }
    .two{
        width: 100%;
        height: 550px;
        background-color: #FEE9E7;
        position: absolute;
        bottom: -600px;
    }
    
    .two > p {
        width: 100%;
        font-size: medium;
        text-align: center;
        font-family: "Jua", sans-serif;
        position: absolute;
        top: 30px;
        left: 5px;
    }

    .two > h3 {
        width: 100%;
        font-size: 12px;
        text-align: center;
        font-family: "Jua", sans-serif;
        position: absolute;
        top: 100px;
        left: 5px;
    }
    
    .first{
        width: 330px;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 200px;
        right: 80px;
        font-family: "Jua", sans-serif;
    }
    
    .first > img{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .first > h5{
        position: absolute;
        top: -10px;
        left: 50px;
    }
    
    .first > h6{
        position: absolute;
        top: 5px;
        left: 50px;
        color: gray;
    }
    
    .second{
        width: 330px;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 280px;
        right: 80px;
        font-family: "Jua", sans-serif;
    }
    
    .second > img{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .second > h5{
        position: absolute;
        top: -10px;
        left: 50px;
    }
    
    .second > h6{
        position: absolute;
        top: 5px;
        left: 50px;
        color: gray;
    }
    
    .third{
        width: 330px;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 360px;
        right: 80px;
        font-family: "Jua", sans-serif;
    }
    
    .third > img{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .third > h5{
        position: absolute;
        top: -10px;
        left: 50px;
    }
    
    .third > h6{
        position: absolute;
        top: 5px;
        left: 50px;
        color: gray;
    }
    
    .four{
        width: 330px;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 440px;
        right: 80px;
        font-family: "Jua", sans-serif;
    }
    
    .four > img{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .four > h5{
        position: absolute;
        top: -10px;
        left: 50px;
    }
    
    .four > h6{
        position: absolute;
        top: 5px;
        left: 50px;
        color: gray;
    }
}

@media only screen and (min-width:801px) and (max-width:1200px){
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

    body{
        background-color: #ffe0ea;
    }
    
    .circle{
        width: 300px;
        height: 300px;
        position: absolute;
        bottom: 0;
        left: 0px;
        border-radius: 50%;
        background-color: rgb(252, 212, 159, 0.5);
        box-shadow: 0 0 1000px rgb(252, 212, 159);
        filter: blur(100px);
        overflow: hidden;
    }
    
    .circle2{
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        right: 0px;
        border-radius: 50%;
        background-color: rgba(252, 190, 240, 0.9);
        box-shadow: 0 0 1000px rgba(252, 190, 240, 0.9);
        filter: blur(100px);
        overflow: hidden;
    }
    
    header{
        display: flex;
    }
    
    .box{
        width: 100%;
        height: 80px;
        background-color: rgb(255, 255, 255, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    .haram > a{
        text-decoration: none;
        color: #DA9E86;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 180px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 100px;
        position: absolute;
        right: 430px;
        top: 15px;
        border: 1px solid #DA9E86;
        font-family: "Jua", sans-serif;
    
    }
    
    .haram > p{
        width: 30px;
        height: 50px;
        text-align: center;
        font-size: 5px;
        margin-top: 47px;
        
    }
    
    .heart > a{
        text-decoration: none;
        color: #DA9E86;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 180px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 100px;
        position: absolute;
        right: 240px;
        top: 15px;
        border: 1px solid #DA9E86;
        font-family: "Jua", sans-serif;
        text-align: center;
    }
    
    .heart > p{
        width: 30px;
        height: 50px;
        text-align: center;
        font-size: 5px;
        margin-top: 15px;
        
    }
    
    .login{
        text-decoration: none;
        color: #DA9E86;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        position: absolute;
        right: 80px;
        top: 25px;
        border: 1px solid #DA9E86;
        font-family: "Jua", sans-serif;
    }
    
    .mypage{
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 100px;
        position: absolute;
        right: 20px;
        top: 15px;
        border: 1px solid #DA9E86;
    }

    .girl{
        width: 330px;
        height: 350px;
        background-image: url("png/소녀.png");
        background-repeat: no-repeat;
        background-size: contain;
        position :absolute;
        bottom : 0px;
        right: 0px;
    
    }
    
    .cat{
        width: 300px;
        height: 200px;
        background-image: url("png/고양이.png");
        background-repeat: no-repeat;
        background-size: contain;
        position :absolute;
        bottom : 0px;
        left: 0px;
    }
    
    .stick{
        width: 100%;
        height: 450px;
        background-image: url("png/막대.png");
        background-repeat: no-repeat;
        background-size: contain;
        position :absolute;
        top : 0px;
        left: 0px;
        z-index: -2;
    }
    
    .logo{
        width: 200px;
        height: 200px;
        background-image: url("png/메인로고.png");
        background-repeat: no-repeat;
        background-size: contain;
        position :absolute;
        top : 100px;
        left: 420px;
    }
    
    .center{
        width: 350px;
        height: 300px;
        position: absolute;
        top: 300px;
        left: 350px;
        border-radius: 100%;
        background-color: rgb(255, 194, 212);
        filter: blur(40px);
        overflow: hidden;
    }
    
    .introduce{
        text-decoration: none;
        width: 300px;
        height: 200px;
        position: absolute;
        top: 380px;
        left: 375px;
        display: flex;
        color: #FF7C9D;
        font-size: 20px;
        justify-content: space-around;
        text-align: center;
        font-family: "Jua", sans-serif;
          
    }
    .two{
        width: 100%;
        height: 400px;
        background-color: #FEE9E7;
        position: absolute;
        bottom: -400px;
    }
    
    .two > p {
        width: 100%;
        font-size: 30px;
        text-align: center;
        font-family: "Jua", sans-serif;
        position: absolute;
        top: 30px;
        left: 5px;
    }

    .two > h3 {
        width: 100%;
        font-size: medium;
        text-align: center;
        font-family: "Jua", sans-serif;
        position: absolute;
        top: 100px;
        left: 5px;
    }
    
    .first{
        width: 330px;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 200px;
        right: 480px;
        font-family: "Jua", sans-serif;
    }
    
    .first > img{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .first > h5{
        position: absolute;
        top: -10px;
        left: 50px;
    }
    
    .first > h6{
        position: absolute;
        top: 5px;
        left: 50px;
        color: gray;
    }
    
    .second{
        width: 330px;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 200px;
        right: 80px;
        font-family: "Jua", sans-serif;
    }
    
    .second > img{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .second > h5{
        position: absolute;
        top: -10px;
        left: 50px;
    }
    
    .second > h6{
        position: absolute;
        top: 5px;
        left: 50px;
        color: gray;
    }
    
    .third{
        width: 330px;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 300px;
        right: 480px;
        font-family: "Jua", sans-serif;
    }
    
    .third > img{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .third > h5{
        position: absolute;
        top: -10px;
        left: 50px;
    }
    
    .third > h6{
        position: absolute;
        top: 5px;
        left: 50px;
        color: gray;
    }
    
    .four{
        width: 330px;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 300px;
        right: 80px;
        font-family: "Jua", sans-serif;
    }
    
    .four > img{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .four > h5{
        position: absolute;
        top: -10px;
        left: 50px;
    }
    
    .four > h6{
        position: absolute;
        top: 5px;
        left: 50px;
        color: gray;
    }

    }